@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

:root {
  --primary-color: #00b1d2;
  --secondary-color: #fddb27;
}

body {
  font-family: 'Aleo', serif;
  margin: auto;
  scrollbar-width: none;
  text-align: left;
}

.hidden-scroll {
  overflow: 'scroll';
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

a {
  color:#6B7280;
  text-decoration: none;
}

[contenteditable='true']:empty:before {
  color: #aaa;
  content: attr(placeholder);
  cursor: text;
  display: block;
}

.__react_component_tooltip.show {
  font-family: 'Aleo';
  opacity: 1 !important;
  padding-top: 10px;
}
