@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

:root {
	--primary-color: #00b1d2;
	--secondary-color: #fddb27;
}

body {
	font-family: 'Aleo', serif;
	margin: auto;
	text-align: left;
}

.hidden-scroll {
	overflow: 'scroll';
}

.hidden-scroll::-webkit-scrollbar {
	display: none;
}
